:root { 
  --apple-blossom: #a54242;
  --black: #000000;
  --black-2: #00000099;
  --dove-gray: #6f6f6f;
  --gray: #919191;
  --gray-2: #7e7e7e;
  --mist-gray: #c4c4c4;
  --red: #ff0000;
  --storm-dust: #626262;
  --tall-poppy: #c22d2d;
  --tamarillo: #aa1313;
  --thunder: #332f2f;
  --white: #ffffff;
 
  --font-size-l: 11px;
  --font-size-m: 10px;
  --font-size-xl: 13px;
  --font-size-xxl: 14px;
  --font-size-xxxl: 15px;
  --font-size-xxxxl: 16px;
  --font-size-xxxxxl: 18px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.roboto-normal-white-10px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-gray-11px {
  color: var(--gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-gray-16px {
  color: var(--gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-gray-10px {
  color: var(--gray-2);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-mist-gray-12px {
  color: var(--mist-gray);
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-gray-14px {
  color: var(--gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-15px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-gray-15px {
  color: var(--gray-2);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-34px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
}

.inter-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.inter-normal-white-13px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-gray-16px {
  color: var(--gray-2);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-12px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-16px {
  color: var(--black-2);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}
