:root { 
  --apple-blossom: #a54242;
  --black: #000000;
  --black-2: #00000099;
  --congo-brown: #573838;
  --cultured-pearl: #f5f5f5;
  --dove-gray: #6f6f6f;
  --gray: #919191;
  --gray-2: #7e7e7e;
  --heavy-metal: #2b2b2b66;
  --mist-gray: #c4c4c4;
  --new-york-pink: #db7d7d;
  --red: #ff0000;
  --scarlet: #ff1313;
  --storm-dust: #626262;
  --sunglo: #e06e6e;
  --tamarillo: #aa1313;
  --thunder: #332f2f;
  --white: #ffffff;
 
  --font-size-l: 11px;
  --font-size-m: 10px;
  --font-size-xl: 13px;
  --font-size-xxl: 14px;
  --font-size-xxxl: 15px;
  --font-size-xxxxl: 16px;
  --font-size-xxxxxl: 24px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
