/* screen - content */

.content {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.content .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  min-width: 1440px;
}

.content .overlap-group8 {
  align-items: flex-end;
  background-color: var(--black);
  display: flex;
  height: 51px;
  min-width: 220px;
  padding: 4px 17px;
}

.content .kisspng-netflix-stre {
  cursor: pointer;
  height: 42px;
  object-fit: cover;
  width: 178px;
}

.content .rectangle-5 {
  background-color: var(--black);
  height: 51px;
  width: 110px;
}

.content .overlap-group7 {
  height: 448px;
  position: relative;
  width: 1440px;
}

.content .rectangle-15 {
  background-color: var(--mist-gray);
  height: 406px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.content .uiuh-j6e-n7-yitw-qw-kt-b-wjv-t-3 {
  height: 416px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.content .rectangle-16 {
  background-color: var(--black);
  height: 42px;
  left: 0;
  position: absolute;
  top: 406px;
  width: 1440px;
}

.content .continue-watching {
  height: 33px;
  left: 2px;
  position: absolute;
  top: 410px;
  width: 318px;
}

.content .flex-row {
  align-items: flex-start;
  display: flex;
  min-width: 1440px;
}

.content .rectangle {
  background-color: var(--black);
  height: 100px;
  width: 240px;
}

.content .overlap-group {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  min-width: 240px;
}

.content .overlap-group2 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 42px;
  margin-left: -11px;
  min-width: 1451px;
  padding: 7px 12.5px;
}

.content .action {
  height: 26px;
  width: 99px;
}

.content .overlap-group5 {
  height: 141px;
  margin-left: -11px;
  position: relative;
  width: 1451px;
}

.content .rectangle-18 {
  background-color: var(--black);
  height: 42px;
  left: 0;
  position: absolute;
  top: 99px;
  width: 1451px;
}

.content .drama {
  height: 25px;
  left: 14px;
  position: absolute;
  top: 106px;
  width: 99px;
}

.content .rectangle-28 {
  background-color: var(--black);
  height: 100px;
  left: 11px;
  position: absolute;
  top: 0;
  width: 240px;
}

.content .rectangle-29 {
  background-color: var(--black);
  height: 100px;
  left: 251px;
  position: absolute;
  top: 0;
  width: 240px;
}

.content .rectangle-3 {
  background-color: var(--black);
  height: 100px;
  left: 491px;
  position: absolute;
  top: 0;
  width: 240px;
}

.content .rectangle-32 {
  background-color: var(--black);
  height: 100px;
  left: 731px;
  position: absolute;
  top: 0;
  width: 240px;
}

.content .rectangle-33 {
  background-color: var(--black);
  height: 100px;
  left: 971px;
  position: absolute;
  top: 0;
  width: 240px;
}

.content .rectangle-34 {
  background-color: var(--black);
  height: 100px;
  left: 1211px;
  position: absolute;
  top: 0;
  width: 240px;
}

.content .overlap-group1 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 42px;
  margin-left: -11px;
  min-width: 1451px;
  padding: 7px 12px;
}

.content .anime {
  height: 26px;
  width: 98px;
}
