/* screen - home */

.home {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1024px;
  width: 1440px;
}

.home .overlap-group2 {
  height: 458px;
  margin-left: 1px;
  margin-top: -1px;
  position: relative;
  width: 1439px;
}

.home .main-display-img {
  cursor: pointer;
  height: 406px;
  left: 10px;
  position: absolute;
  top: 52px;
  transition: all 0.2s ease;
  width: 1429px;
}

.home .main-display-img:hover {
  transform: scale(1.1);
}

.home .uiuh-j6e-n7-yitw-qw-kt-b-wjv-t-3 {
  cursor: pointer;
  height: 406px;
  left: 0;
  position: absolute;
  top: 52px;
  transition: all 1.5s ease;
  width: 1439px;
}

.home .uiuh-j6e-n7-yitw-qw-kt-b-wjv-t-3:hover {
  opacity: 0;
}

.home .nav-bar {
  background-color: var(--black);
  height: 51px;
  left: 10px;
  position: absolute;
  top: 1px;
  width: 1429px;
}

.home .nav-bar-logo-box {
  background-color: var(--black);
  height: 51px;
  left: 10px;
  position: absolute;
  top: 1px;
  width: 218px;
}

.home .nav-bar-home {
  background-color: var(--black);
  cursor: pointer;
  height: 51px;
  left: 221px;
  position: absolute;
  top: 1px;
  transition: all 0.2s ease;
  width: 116px;
}

.home .place {
  cursor: pointer;
  height: 51px;
  left: 221px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.2s ease;
  width: 116px;
}

.home .place:hover {
  transform: scale(1.1);
}

.home .kisspng-netflix-stre {
  cursor: pointer;
  height: 36px;
  left: 55px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  transition: all 0.2s ease;
  width: 129px;
}

.home .kisspng-netflix-stre:hover {
  transform: scale(1.1);
}

.home .nav-bar-tv-shows {
  background-color: var(--black);
  cursor: pointer;
  height: 51px;
  left: 337px;
  position: absolute;
  top: 1px;
  transition: all 0.2s ease;
  width: 117px;
}

.home .tv-shows {
  cursor: pointer;
  height: 51px;
  left: 337px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.2s ease;
  width: 117px;
}

.home .tv-shows:hover {
  transform: scale(1.1);
}

.home .nav-bar-movies {
  background-color: var(--black);
  cursor: pointer;
  height: 51px;
  left: 447px;
  position: absolute;
  top: 1px;
  transition: all 0.2s ease;
  width: 109px;
}

.home .nav-bar-movies:hover {
  background-color: #fff
}

.home .movies {
  cursor: pointer;
  height: 51px;
  left: 447px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.2s ease;
  width: 109px;
}

.home .movies:hover {
  transform: scale(1.1);
}

.home .nav-bar-my-list {
  background-color: var(--black);
  cursor: pointer;
  height: 51px;
  left: 665px;
  position: absolute;
  top: 1px;
  transition: all 0.2s ease;
  width: 109px;
}

.home .nav-bar-my-list:hover {
  background-color: #fff
}

.home .my-list {
  cursor: pointer;
  height: 51px;
  left: 665px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.2s ease;
  width: 109px;
}

.home .my-list:hover {
  transform: scale(1.1);
}

.home .nav-bar-recently-added {
  background-color: var(--black);
  height: 51px;
  left: 556px;
  position: absolute;
  top: 1px;
  width: 109px;
}

.home .recently-added {
  cursor: pointer;
  height: 38px;
  left: 551px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 16px;
  transition: all 0.2s ease;
  width: 120px;
}

.home .recently-added:hover {
  transform: scale(1.1);
}

.home .overlap-group-container {
  height: 142px;
  position: relative;
  width: 1440px;
}

.home .overlap-group9 {
  height: 142px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1430px;
}

.home .continue-watching {
  background-color: var(--black);
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1430px;
}

.home .continue-watching-1 {
  height: 74px;
  left: 79px;
  position: absolute;
  top: 4px;
  width: 165px;
}

.home .continue-watching-1-1 {
  background-color: var(--thunder);
  height: 100px;
  left: 1px;
  position: absolute;
  top: 42px;
  width: 240px;
}

.home .continue-watching-2 {
  background-color: var(--storm-dust);
  height: 100px;
  left: 241px;
  position: absolute;
  top: 42px;
  width: 239px;
}

.home .continue-watching-3 {
  background-color: var(--thunder);
  height: 100px;
  left: 480px;
  position: absolute;
  top: 42px;
  width: 240px;
}

.home .x02_nf_-the-witcher_ {
  cursor: pointer;
  height: 100px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 42px;
  transition: all 0.2s ease;
  width: 240px;
}

.home .x02_nf_-the-witcher_:hover {
  transform: scale(1.1);
}

.home .x63d275100591999-1 {
  cursor: pointer;
  height: 100px;
  left: 241px;
  object-fit: cover;
  position: absolute;
  top: 42px;
  transition: all 0.2s ease;
  width: 239px;
}

.home .x63d275100591999-1:hover {
  transform: scale(1.1);
}

.home .x158445-untitled-design-56-1 {
  cursor: pointer;
  height: 101px;
  left: 480px;
  position: absolute;
  top: 41px;
  transition: all 0.2s ease;
  width: 240px;
}

.home .x158445-untitled-design-56-1:hover {
  transform: scale(1.1);
}

.home .overlap-group14 {
  align-items: flex-start;
  background-color: var(--storm-dust);
  display: flex;
  height: 100px;
  left: 720px;
  min-width: 241px;
  position: absolute;
  top: 42px;
}

.home .arcane-image {
  cursor: pointer;
  height: 100px;
  transition: all 0.2s ease;
  width: 241px;
}

.home .arcane-image:hover {
  transform: scale(1.1);
}

.home .overlap-group15 {
  align-items: flex-start;
  background-color: var(--thunder);
  display: flex;
  height: 100px;
  left: 961px;
  min-width: 239px;
  position: absolute;
  top: 42px;
}

.home .dbk-qw-qo-uw-aa1r-si-1 {
  cursor: pointer;
  height: 100px;
  transition: all 0.2s ease;
  width: 239px;
}

.home .dbk-qw-qo-uw-aa1r-si-1:hover {
  transform: scale(1.1);
}

.home .overlap-group4 {
  align-items: flex-start;
  background-color: var(--storm-dust);
  display: flex;
  height: 100px;
  left: 1200px;
  min-width: 240px;
  position: absolute;
  top: 42px;
}

.home .oitnbp-1 {
  cursor: pointer;
  height: 100px;
  transition: all 0.2s ease;
  width: 240px;
}

.home .oitnbp-1:hover {
  transform: scale(1.1);
}

.home .overlap-group5 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 42px;
  min-width: 1440px;
  padding: 8px 19.5px;
}

.home .action {
  height: 26px;
  width: 99px;
}

.home .overlap-group-2 {
  height: 141px;
  position: relative;
  width: 1440px;
}

.home .drama-title-box {
  background-color: var(--black);
  height: 42px;
  left: 0;
  position: absolute;
  top: 99px;
  width: 1440px;
}

.home .drama-1 {
  height: 25px;
  left: 22px;
  position: absolute;
  top: 108px;
  width: 99px;
}

.home .action-1 {
  background-color: var(--thunder);
  cursor: pointer;
  height: 100px;
  left: 1px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 240px;
}

.home .action-1:hover {
  transform: scale(1.1);
}

.home .action-2 {
  background-color: var(--storm-dust);
  cursor: pointer;
  height: 100px;
  left: 241px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 239px;
}

.home .action-2:hover {
  transform: scale(1.1);
}

.home .action-3 {
  background-color: var(--thunder);
  cursor: pointer;
  height: 100px;
  left: 480px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 240px;
}

.home .action-3:hover {
  transform: scale(1.1);
}

.home .below-zero-netflix-review-1 {
  cursor: pointer;
  height: 100px;
  left: 480px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 240px;
}

.home .below-zero-netflix-review-1:hover {
  transform: scale(1.1);
}

.home .action-4 {
  background-color: var(--storm-dust);
  cursor: pointer;
  height: 100px;
  left: 720px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 241px;
}

.home .action-4:hover {
  transform: scale(1.1);
}

.home .hard-kill-social-1 {
  cursor: pointer;
  height: 100px;
  left: 720px;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 241px;
}

.home .hard-kill-social-1:hover {
  transform: scale(1.1);
}

.home .action-5 {
  background-color: var(--thunder);
  cursor: pointer;
  height: 100px;
  left: 961px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 239px;
}

.home .action-5:hover {
  transform: scale(1.1);
}

.home .sentinelle-netflix-review-1 {
  cursor: pointer;
  height: 100px;
  left: 961px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 239px;
}

.home .sentinelle-netflix-review-1:hover {
  transform: scale(1.1);
}

.home .action-6 {
  background-color: var(--storm-dust);
  cursor: pointer;
  height: 100px;
  left: 1200px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 240px;
}

.home .action-6:hover {
  transform: scale(1.1);
}

.home .the-geek-furioza-nyito-664x335-1 {
  cursor: pointer;
  height: 99px;
  left: 1200px;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 240px;
}

.home .the-geek-furioza-nyito-664x335-1:hover {
  transform: scale(1.1);
}

.home .aaaa-be-gz-xji0f-trc {
  cursor: pointer;
  height: 99px;
  left: 1px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 240px;
}

.home .aaaa-be-gz-xji0f-trc:hover {
  transform: scale(1.1);
}

.home .aaaabzq-ddfql0-qm-j5 {
  cursor: pointer;
  height: 99px;
  left: 241px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 239px;
}

.home .aaaabzq-ddfql0-qm-j5:hover {
  transform: scale(1.1);
}

.home .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 1px;
  min-width: 1439px;
}

.home .overlap-group {
  height: 100px;
  position: relative;
  width: 240px;
}

.home .drama {
  background-color: var(--thunder);
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 240px;
}

.home .drama:hover {
  transform: scale(1.1);
}

.home .link {
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 240px;
}

.home .link:hover {
  transform: scale(1.1);
}

.home .overlap-group-1 {
  height: 100px;
  position: relative;
  width: 239px;
}

.home .drama-2 {
  background-color: var(--storm-dust);
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 239px;
}

.home .drama-2:hover {
  transform: scale(1.1);
}

.home .link-1 {
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 239px;
}

.home .link-1:hover {
  transform: scale(1.1);
}

.home .link-2 {
  cursor: pointer;
  height: 100px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 240px;
}

.home .link-2:hover {
  transform: scale(1.1);
}

.home .overlap-group6 {
  height: 100px;
  position: relative;
  width: 241px;
}

.home .drama-4 {
  background-color: var(--storm-dust);
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 241px;
}

.home .drama-4:hover {
  transform: scale(1.1);
}

.home .download-1 {
  cursor: pointer;
  height: 100px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 241px;
}

.home .download-1:hover {
  transform: scale(1.1);
}

.home .drama-5 {
  background-color: var(--thunder);
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 239px;
}

.home .drama-5:hover {
  transform: scale(1.1);
}

.home .drama-6 {
  background-color: var(--storm-dust);
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 240px;
}

.home .drama-6:hover {
  transform: scale(1.1);
}

.home .overlap-group-container-2 {
  height: 142px;
  margin-left: 1px;
  position: relative;
  width: 1439px;
}

.home .overlap-group1 {
  height: 142px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1439px;
}

.home .anime-title-box {
  background-color: var(--black);
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1439px;
}

.home .anime {
  height: 26px;
  left: 20px;
  position: absolute;
  top: 7px;
  width: 98px;
}

.home .anime-1 {
  background-color: var(--thunder);
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  top: 42px;
  transition: all 0.2s ease;
  width: 240px;
}

.home .anime-1:hover {
  transform: scale(1.1);
}

.home .x4f69d2a6bde03a53970f6c08f8dfdea3-1 {
  cursor: pointer;
  display: block;
  height: 101px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 41px;
  transform: scale(1.1);
  transition: all 0.2s ease;
  width: 240px;
}

.home .x4f69d2a6bde03a53970f6c08f8dfdea3-1.animate-enter {
  animation: animate-enter-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(1.1);
}

@keyframes animate-enter-frames {
  from{opacity: 0;
transform: scale(1.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.home .x4f69d2a6bde03a53970f6c08f8dfdea3-1:hover {
  transform: scale(1.1);
}

.home .anime-3 {
  background-color: var(--thunder);
  cursor: pointer;
  height: 100px;
  left: 479px;
  position: absolute;
  top: 42px;
  transition: all 0.2s ease;
  width: 240px;
}

.home .anime-3:hover {
  transform: scale(1.1);
}

.home .aaaabx_kd-ld-f-ui-ee {
  cursor: pointer;
  height: 101px;
  left: 479px;
  object-fit: cover;
  position: absolute;
  top: 41px;
  transition: all 0.2s ease;
  width: 240px;
}

.home .aaaabx_kd-ld-f-ui-ee:hover {
  transform: scale(1.1);
}

.home .anime-4 {
  background-color: var(--storm-dust);
  cursor: pointer;
  height: 100px;
  left: 719px;
  position: absolute;
  top: 42px;
  transition: all 0.2s ease;
  width: 241px;
}

.home .anime-4:hover {
  transform: scale(1.1);
}

.home .aaaabzx54-ubxbxnvof {
  cursor: pointer;
  height: 101px;
  left: 719px;
  position: absolute;
  top: 41px;
  transition: all 0.2s ease;
  width: 241px;
}

.home .aaaabzx54-ubxbxnvof:hover {
  transform: scale(1.1);
}

.home .overlap-group11 {
  height: 100px;
  left: 240px;
  position: absolute;
  top: 42px;
  width: 239px;
}

.home .anime-2 {
  background-color: var(--storm-dust);
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 239px;
}

.home .anime-2:hover {
  transform: scale(1.1);
}

.home .aaaa-bdj-d-fpvx-owf0 {
  cursor: pointer;
  height: 100px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 239px;
}

.home .aaaa-bdj-d-fpvx-owf0:hover {
  transform: scale(1.1);
}

.home .overlap-group7 {
  height: 100px;
  left: 960px;
  position: absolute;
  top: 42px;
  width: 239px;
}

.home .anime-5 {
  background-color: var(--thunder);
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 239px;
}

.home .anime-5:hover {
  transform: scale(1.1);
}

.home .overlap-group13 {
  height: 100px;
  left: 1199px;
  position: absolute;
  top: 42px;
  width: 240px;
}

.home .anime-6 {
  background-color: var(--storm-dust);
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 240px;
}

.home .anime-6:hover {
  transform: scale(1.1);
}
