.login {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1024px;
  width: 1440px;
}

.text-field-filled-di {
  height: 41px;
  width: 250px;
}

.password {
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
}

.text-field-filled-di .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.password .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

