.footer-master-div {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 292px;
  min-width: 1440px;
  padding: 19px 301px;
}

.footer-inner-container {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  min-height: 210px;
  padding: 8px 81px;
  width: 837px;
}

.questions-call-1-844-505-2993-1 {
  color: var(--gray);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 2px;
  min-height: 25px;
  width: 489px;
}

.footer-link-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 154px;
  margin-top: 10px;
  min-width: 674px;
}

.overlap-group-container-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 154px;
  width: 125px;
}

.overlap-group-7 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 25px;
  min-width: 125px;
}

.faq-1,
.investor-relations,
.ways-to-watch,
.corporate-information-1,
.only-on-netflix,
.help-center-1,
.jobs,
.terms-of-use,
.contact-us,
.account,
.redeem-giftcards,
.privacy,
.speed-test,
.media-center,
.buy-gift-cards,
.cookie-preferences-1,
.legal-notices {
  letter-spacing: 0;
  min-height: 25px;
  width: 125px;
}

.overlap-group-8 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 25px;
  margin-top: 7px;
  min-width: 125px;
}

.overlap-group4-4 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 25px;
  margin-top: 8px;
  min-width: 125px;
}

.overlap-group-container-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  min-height: 121px;
  width: 125px;
}

.overlap-group-container-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 51px;
  min-height: 121px;
  width: 125px;
}

.overlap-group-container-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 59px;
  min-height: 121px;
  width: 125px;
}

