.home {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1024px;
  width: 1440px;
}

.overlap-group2-1 {
  height: 458px;
  margin-left: 1px;
  margin-top: -1px;
  position: relative;
  width: 1439px;
}

.main-display-img {
  cursor: pointer;
  height: 406px;
  left: 10px;
  position: absolute;
  top: 52px;
  transition: all 0.2s ease;
  width: 1429px;
}

.main-display-img:hover,
.place:hover,
.kisspng-netflix-stre-1:hover,
.tv-shows:hover,
.movies:hover,
.my-list:hover,
.recently-added:hover,
.x02_nf_-the-witcher_:hover,
.x63d275100591999-1:hover,
.x158445-untitled-design-56-1:hover,
.arcane-image:hover,
.dbk-qw-qo-uw-aa1r-si-1:hover,
.oitnbp-1:hover,
.action-1:hover,
.action-2:hover,
.action-3:hover,
.action-4:hover,
.action-5:hover,
.action-6:hover,
.drama:hover,
.link:hover,
.drama-4:hover,
.link-1:hover,
.link-2:hover,
.anime-1:hover,
.anime-3:hover,
.anime-4:hover {
  transform: scale(1.1);
}

.uiuh-j6e-n7-yitw-qw-kt-b-wjv-t-3 {
  cursor: pointer;
  height: 406px;
  left: 0;
  position: absolute;
  top: 52px;
  transition: all 1.5s ease;
  width: 1439px;
}

.uiuh-j6e-n7-yitw-qw-kt-b-wjv-t-3:hover {
  opacity: 0;
}

.nav-bar {
  background-color: var(--black);
  height: 51px;
  left: 10px;
  position: absolute;
  top: 1px;
  width: 1429px;
}

.nav-bar-logo-box {
  background-color: var(--black);
  height: 51px;
  left: 10px;
  position: absolute;
  top: 1px;
  width: 218px;
}

.nav-bar-home {
  background-color: var(--black);
  cursor: pointer;
  height: 51px;
  left: 221px;
  position: absolute;
  top: 1px;
  transition: all 0.2s ease;
  width: 116px;
}

.place {
  cursor: pointer;
  height: 51px;
  left: 221px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.2s ease;
  width: 116px;
}

.kisspng-netflix-stre-1 {
  cursor: pointer;
  height: 36px;
  left: 55px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  transition: all 0.2s ease;
  width: 129px;
}

.nav-bar-tv-shows {
  background-color: var(--black);
  cursor: pointer;
  height: 51px;
  left: 337px;
  position: absolute;
  top: 1px;
  transition: all 0.2s ease;
  width: 117px;
}

.tv-shows {
  cursor: pointer;
  height: 51px;
  left: 337px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.2s ease;
  width: 117px;
}

.nav-bar-movies {
  background-color: var(--black);
  cursor: pointer;
  height: 51px;
  left: 447px;
  position: absolute;
  top: 1px;
  transition: all 0.2s ease;
  width: 109px;
}

.nav-bar-movies:hover,
.nav-bar-my-list:hover {
  background-color: #fff
}

.movies {
  cursor: pointer;
  height: 51px;
  left: 447px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.2s ease;
  width: 109px;
}

.nav-bar-my-list {
  background-color: var(--black);
  cursor: pointer;
  height: 51px;
  left: 665px;
  position: absolute;
  top: 1px;
  transition: all 0.2s ease;
  width: 109px;
}

.my-list {
  cursor: pointer;
  height: 51px;
  left: 665px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.2s ease;
  width: 109px;
}

.nav-bar-recently-added {
  background-color: var(--black);
  height: 51px;
  left: 556px;
  position: absolute;
  top: 1px;
  width: 109px;
}

.recently-added {
  cursor: pointer;
  height: 38px;
  left: 551px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 16px;
  transition: all 0.2s ease;
  width: 120px;
}

.overlap-group-container {
  height: 142px;
  position: relative;
  width: 1440px;
}

.overlap-group9 {
  height: 142px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1430px;
}

.continue-watching {
  background-color: var(--black);
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1430px;
}

.continue-watching-1 {
  height: 74px;
  left: 79px;
  position: absolute;
  top: 4px;
  width: 165px;
}

.continue-watching-1-1 {
  background-color: var(--thunder);
  height: 100px;
  left: 1px;
  position: absolute;
  top: 42px;
  width: 240px;
}

.continue-watching-2 {
  background-color: var(--storm-dust);
  height: 100px;
  left: 241px;
  position: absolute;
  top: 42px;
  width: 239px;
}

.continue-watching-3 {
  background-color: var(--thunder);
  height: 100px;
  left: 480px;
  position: absolute;
  top: 42px;
  width: 240px;
}

.x02_nf_-the-witcher_ {
  cursor: pointer;
  height: 100px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 42px;
  transition: all 0.2s ease;
  width: 240px;
}

.x63d275100591999-1 {
  cursor: pointer;
  height: 100px;
  left: 241px;
  object-fit: cover;
  position: absolute;
  top: 42px;
  transition: all 0.2s ease;
  width: 239px;
}

.x158445-untitled-design-56-1 {
  cursor: pointer;
  height: 101px;
  left: 480px;
  position: absolute;
  top: 41px;
  transition: all 0.2s ease;
  width: 240px;
}

.overlap-group14 {
  align-items: flex-start;
  background-color: var(--storm-dust);
  display: flex;
  height: 100px;
  left: 720px;
  min-width: 241px;
  position: absolute;
  top: 42px;
}

.arcane-image {
  cursor: pointer;
  height: 100px;
  transition: all 0.2s ease;
  width: 241px;
}

.overlap-group15 {
  align-items: flex-start;
  background-color: var(--thunder);
  display: flex;
  height: 100px;
  left: 961px;
  min-width: 239px;
  position: absolute;
  top: 42px;
}

.dbk-qw-qo-uw-aa1r-si-1 {
  cursor: pointer;
  height: 100px;
  transition: all 0.2s ease;
  width: 239px;
}

.overlap-group4-1 {
  align-items: flex-start;
  background-color: var(--storm-dust);
  display: flex;
  height: 100px;
  left: 1200px;
  min-width: 240px;
  position: absolute;
  top: 42px;
}

.oitnbp-1 {
  cursor: pointer;
  height: 100px;
  transition: all 0.2s ease;
  width: 240px;
}

.overlap-group5-1 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 42px;
  min-width: 1440px;
  padding: 8px 19.5px;
}

.action {
  height: 26px;
  width: 99px;
}

.overlap-group-3 {
  height: 141px;
  position: relative;
  width: 1440px;
}

.drama-title-box {
  background-color: var(--black);
  height: 42px;
  left: 0;
  position: absolute;
  top: 99px;
  width: 1440px;
}

.drama-1 {
  height: 25px;
  left: 22px;
  position: absolute;
  top: 108px;
  width: 99px;
}

.action-1 {
  background-color: var(--thunder);
  cursor: pointer;
  height: 100px;
  left: 1px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 240px;
}

.action-2 {
  background-color: var(--storm-dust);
  cursor: pointer;
  height: 100px;
  left: 241px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 239px;
}

.action-3 {
  background-color: var(--thunder);
  cursor: pointer;
  height: 100px;
  left: 480px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 240px;
}

.below-zero-netflix-review-1 {
  height: 100px;
  left: 480px;
  position: absolute;
  top: 0;
  width: 240px;
}

.action-4 {
  background-color: var(--storm-dust);
  cursor: pointer;
  height: 100px;
  left: 720px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 241px;
}

.hard-kill-social-1 {
  height: 100px;
  left: 720px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 241px;
}

.action-5 {
  background-color: var(--thunder);
  cursor: pointer;
  height: 100px;
  left: 961px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 239px;
}

.sentinelle-netflix-review-1 {
  height: 100px;
  left: 961px;
  position: absolute;
  top: 0;
  width: 239px;
}

.action-6 {
  background-color: var(--storm-dust);
  cursor: pointer;
  height: 100px;
  left: 1200px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 240px;
}

.the-geek-furioza-nyito-664x335-1 {
  height: 99px;
  left: 1200px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 240px;
}

.aaaa-be-gz-xji0f-trc {
  height: 99px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 240px;
}

.aaaabzq-ddfql0-qm-j5 {
  height: 99px;
  left: 241px;
  position: absolute;
  top: 0;
  width: 239px;
}

.overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 1px;
  min-width: 1439px;
}

.overlap-group-1 {
  height: 100px;
  position: relative;
  width: 240px;
}

.drama {
  background-color: var(--thunder);
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 240px;
}

.x1705945-1,
.is-my-hero-academia-on-netflix-1 {
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 240px;
}

.overlap-group-2 {
  height: 100px;
  position: relative;
  width: 239px;
}

.link {
  background-color: var(--storm-dust);
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 239px;
}

.aaaab-wfruyo332-zb30,
.ecw62re60ape0ak33zce-1,
.hunter_x_hunter_by_xvrcardoso-d54co4a-1 {
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 239px;
}

.aaaab-zzke-u4cjmc-cm,
.p8696131_b_h10_aa-1 {
  height: 100px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 240px;
}

.overlap-group6 {
  height: 100px;
  position: relative;
  width: 241px;
}

.drama-4 {
  background-color: var(--storm-dust);
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 241px;
}

.download-1 {
  height: 100px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 241px;
}

.link-1 {
  background-color: var(--thunder);
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 239px;
}

.link-2 {
  background-color: var(--storm-dust);
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 240px;
}

.overlap-group-container-2 {
  height: 142px;
  margin-left: 1px;
  position: relative;
  width: 1439px;
}

.overlap-group1 {
  height: 142px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1439px;
}

.anime-title-box {
  background-color: var(--black);
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1439px;
}

.anime {
  height: 26px;
  left: 20px;
  position: absolute;
  top: 7px;
  width: 98px;
}

.anime-1 {
  background-color: var(--thunder);
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  top: 42px;
  transition: all 0.2s ease;
  width: 240px;
}

.x4f69d2a6bde03a53970f6c08f8dfdea3-1 {
  height: 101px;
  left: 0;
  position: absolute;
  top: 41px;
  width: 240px;
}

.anime-3 {
  background-color: var(--thunder);
  cursor: pointer;
  height: 100px;
  left: 479px;
  position: absolute;
  top: 42px;
  transition: all 0.2s ease;
  width: 240px;
}

.aaaabx_kd-ld-f-ui-ee {
  height: 101px;
  left: 479px;
  object-fit: cover;
  position: absolute;
  top: 41px;
  width: 240px;
}

.anime-4 {
  background-color: var(--storm-dust);
  cursor: pointer;
  height: 100px;
  left: 719px;
  position: absolute;
  top: 42px;
  transition: all 0.2s ease;
  width: 241px;
}

.aaaabzx54-ubxbxnvof {
  height: 101px;
  left: 719px;
  position: absolute;
  top: 41px;
  width: 241px;
}

.overlap-group11 {
  height: 100px;
  left: 240px;
  position: absolute;
  top: 42px;
  width: 239px;
}

.aaaa-bdj-d-fpvx-owf0 {
  height: 100px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 239px;
}

.overlap-group7 {
  height: 100px;
  left: 960px;
  position: absolute;
  top: 42px;
  width: 239px;
}

.overlap-group13 {
  height: 100px;
  left: 1199px;
  position: absolute;
  top: 42px;
  width: 240px;
}

